<div class="container-fluid bg-img">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center mb-3">
                    <h1>Restaurent Signup</h1>
                    <h5>Fell free to signup</h5>
                </div>
                <form [formGroup]="signupForm" (ngSubmit)="signUp()">
                    <div class="mb-3">
                        <label class="form-label">Name</label>
                        <input formControlName="name" type="text" class="form-control" placeholder="Enter name here">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Mobile Number</label>
                        <input formControlName="mobile" type="text" class="form-control"
                            placeholder="Enter mobile number here">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Email address</label>
                        <input formControlName="email" type="email" class="form-control" placeholder="Enter email here">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Password</label>
                        <input formControlName="password" type="password" class="form-control"
                            placeholder="Entere password here">
                    </div>
                    <button type="submit" class="btn w-100 btn-primary mt-4 mb-2">Sign up</button>
                    <a routerLink="/login">Already Member?</a>
                </form>
            </div>
        </div>
    </div>
</div>